<!DOCTYPE html>
<header>
    <link href="../Scss/index.scss" rel="stylesheet" />
</header>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>    
    <title></title>
</head>
<body>
    <div id="divOne">
        <h1>Roles and Responsabilties</h1>
        <p> This page is dedicated to roles and responsabilties<p>
    </div>

    <div>

    </div>

    <section id="leftMedium">
        <h3>SpiderMan</h3>
        <ol type="numbers">
            <li>wear a costume.
            <li>      be a role Model.
            <li>      fight Evil.
            <li>      Save Mary Jane.
            <li>
                climb Walls
            </li>
        </ol>

    </section>

    <section id="rightMedium">
        <h3>SuperMan</h3>
        <ul>
            <li>Flying</li>
            <li>saving the day</li>
            <li>rescue Louise Lane</li>
            <li>change in phone booth's</li>
            <li>ray vision
        </ul>

    </section>
</body>
</html>
